In [1]:
import pandas as pd

In [2]:
pop=pd.read_csv("E:\\python\\data-USstates-master\\state-population.csv")

In [3]:
areas=pd.read_csv("E:\\python\\data-USstates-master\\state-areas.csv")

In [4]:
abbrevs=pd.read_csv("E:\\python\\data-USstates-master\\state-abbrevs.csv")

In [34]:
#pop.head()
areas.head()
#abbrevs.head()

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [10]:
merged=pd.merge(pop,abbrevs,left_on='state/region',right_on='abbreviation',how='outer')

In [13]:
merged=merged.drop('abbreviation',axis=1)

In [14]:
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [18]:
#sum(merged['state/region'].isnull())
sum(merged['population'].isnull())

20

In [ ]:
merged[merged['population'].isnull()]

In [ ]:
merged[merged['state'].isnull()]

In [28]:
merged.loc[merged['state'].isnull(),'state/region'].unique()

array([], dtype=object)

In [26]:
merged.loc[merged['state/region']=='PR','state']='Puerto Rico'

In [27]:
merged.loc[merged['state/region']=='USA','state']='United States'

In [29]:
merged.loc[merged['state'].isnull(),'state/region'].unique()

array([], dtype=object)

In [32]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [38]:
final=pd.merge(merged,areas,on='state',how='left')

In [39]:
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [40]:
final.isnull().any()

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

In [41]:
final.loc[final['area (sq. mi)'].isnull(),'state'].unique()

array(['United States'], dtype=object)

In [43]:
final['state'][final['area (sq. mi)'].isnull()].unique()

array(['United States'], dtype=object)

In [44]:
final.dropna(inplace=True)

In [45]:
final.isnull().any()

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [46]:
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [57]:
import timeit
dataII2010=final[(final['year']==2010)&(final['ages']=='total')]

In [54]:
dataI2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

In [63]:
%timeit dataII2010=final[(final['year']==2010)&(final['ages']=='total')]

1000 loops, best of 3: 999 Âµs per loop

In [62]:
%timeit data2010=final.query("year==2010 & ages=='total'")

1000 loops, best of 3: 2.08 ms per loop

In [64]:
dataII2010.set_index('state',inplace=True)

In [65]:
density=dataII2010['population']/dataII2010['area (sq. mi)']

In [67]:
density.sort_values(ascending=False,inplace=True)

In [68]:
density.head()

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64

In [69]:
density.tail()

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64